@model GadgetHub.Domain.Entites.ShippingDetails

@{
    ViewBag.Title = "Completed";
}

<h2>Thank you for your order, @Model.Name! Your order has been successfully completed.</h2>
You will sonn receive an email confirmation regarding your purchase. We appreciate your business!